@keyframes anim-danger-flash {
  0% {
    background-color: rgba(255, 0, 85, 0.5);
  }
  50% {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /* Change this to the original background color of your card */
  }
  100% {
    background-color: rgba(255, 0, 85, 0.5);
  }
}

@keyframes anim-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
