@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Firefox */
  scrollbar-color: $c-accent $c-on-dark-background;
  scrollbar-width: thin;

  /* WebKit */
  &::-webkit-scrollbar {
    background-color: $c-on-dark-background;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $c-accent;
    border-radius: 100vw;
    border: solid 2px $c-on-dark-background;
  }
  &::-webkit-scrollbar-track {
    background-color: $c-accent;
    margin-block: 0.5em;
  }
  &::-webkit-scrollbar-corner {
    background-color: $c-accent;
  }
}

body {
  font-family: $font-normal;

  color: $c-on-dark-text;
  background-size: cover;
  background-color: $c-on-dark-background;
  background-image: url('./content/backgrounds/bg-dark-1.svg');

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 0.75em;
}

a {
  font-weight: bold;
  opacity: 0.8;
  color: $c-accent;
  border-bottom: solid 1px $c-transparent;

  cursor: pointer;
  transition: $transition-properties-default;

  &:hover {
    opacity: 1;
    border-bottom: solid 1px $c-accent-hover;
    color: $c-accent-hover;
  }
}

button {
  font-weight: bold;

  border-radius: $border-radius-default;
  padding: 0.25em;
  background-color: $c-accent;
  transition: $transition-properties-default;

  img {
    transition: $transition-properties-default;
    width: 1.5em;
  }

  &:hover {
    transform: translateY(-4px);
    background-color: $c-accent-hover;
  }
  &:active {
    transform: translateY(0px);
    filter: brightness(50%);
  }
}

input {
  border-radius: $border-radius-default;
  background-color: $c-on-dark-background-light;
  border: solid 2px $c-transparent;
  transition: $transition-properties-default;
  padding: 0.5em;
  &:focus {
    border: solid 2px $c-accent;
    outline: none;
  }
}

.activated {
  opacity: 1;
  font-weight: bold;
  pointer-events: none;
}
.box-info {
  background-color: $c-on-dark-background-light;
  border-radius: $border-radius-default;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
}

// .divider {
//   scale: 25%;
// }
