@import 'variables';

.section-divider div {
  background-color: $c-accent;
}

.section-divider {
  font-size: 4em;
  font-weight: bold;
  color: $c-accent;
}

#navbar {
  z-index: 500;
  height: 60px;
  background-color: $c-on-dark-background-light;

  font-size: 1.1em;
}
#nav-title {
  color: $c-accent;
  text-shadow: 0px 0px 12px black;
}
#nav-button {
  background-color: $c-on-dark-background;
}
#nav-dropdown {
  z-index: 700;
  padding: 1em;
  min-width: 10em;
  background-color: $c-on-dark-background-light;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

#footer-container {
  background-color: $c-on-dark-background-light;
}

#home {
  background-color: $c-on-dark-background;
}

#page {
  background-color: $c-on-dark-background;
}
